.learn-react {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.movies-list-container {
    margin-bottom: 50px;
}

.skeleton-elements-container {
    display: flex;
    gap: 10px;
    width: calc(100% - 30px);
    height: 100%;
    margin: 30px;
}

.skeleton-elements {
    width: 300px;
    height: 400px;
    background-color: #ccc;
}

.loading-pulse {
    animation: loading-pulse 2.7s linear 0.2s infinite normal;
}

h1 {
    color: red;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}